
h1 {
    font-size: 40px;
    color: rgba(0, 0, 139, 0.800);
    text-shadow: 2px 2px rgba(0, 0, 139, 0.3);
}

h2 {
    font-size: 32px;
}

/* ######################################################## */
header {
    height: 100px;
    background-color: var(--backgroundColorHeaderFooter);
    display: flex;
    border-bottom: solid;
    border-color: var(--borderColorHeaderFooter);
}

header img {
    height: 80px;
}

.innerHeader {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 100px;
}

/* ######################################################## */
.main {
    /* entire width area without header footer */
    background-color: white;
    font-size: 16px;
}

.content {
    /* area without header foooter */
    width: calc(100%-300px);
    min-height: calc(100vh - 200px);
    display: flex;
}

.innerContent {
    /*area without shoppingcart area*/
    width: 100%;
}

/* ######################################################## */
.heroImage {
    background-image: url("./assets/img/mainPicture.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 6px;
    margin-bottom: 12px;
    margin-left: 4px;
    border-radius: 4px;
}

.heroText {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 12px 24px;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    line-height: 46px;
}

.foodMenuBarShoppingCart {
    display: none;
}

.heroIcon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
    background-color: rgba(250, 235, 215, 0.7);
}

/* ######################################################## */
.foodMenuBar {
    display: flex;
    align-items: center;
    gap: 32px;
}

.foodMenuBar img {
    height: 40px;
}

.fontColor {
    color: #FF8000;
    font-weight: bold;
}

/* ######################################################## */
.dishes {
    padding-left: 24px;
    padding-right: 14px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes img {
    height: 40px;
    cursor: pointer;
}

.individualDishes {
    border: 1px dotted darkgray;
    padding: 12px 12px 12px 24px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin-bottom: 12px;
}

.individualDishes img {
    height: 36px;
    border: 1px solid darkgray;
    cursor: pointer;
}

/* ######################################################## */
.shoppingCartWrapper {
    max-width: 360px;
    width: 100%;
    margin: 6px 14px 12px 14px;
    flex-grow: 1;
}

.shoppingCart {
    position: sticky;
    top: 6px;
    width: 100%;
    height: 530px;    
    text-align: center;
    border: 4px solid #FF8000;
    border-radius: 4px;
    padding: 12px;
}

.shoppingCartHeadline {
    height: 50px;
    font-size: 24px;
}

.shoppingCartArea {
    height: 300px;
    overflow-y: auto;
    text-align: start;    
    color: rgba(47, 79, 79, 0.7);  /*for no items in the shopping cart*/
    font-weight: bold; /*for no items in the shopping cart*/
    font-style: italic; /*for no items in the shopping cart*/
}

.orderedMeal {
    margin-bottom: 10px;
    text-align: start;
}

.mealNameShoppingCart {
    font-size: 20px;
    font-weight: bold;
}
.quantities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantities img {
    cursor: pointer;
}

.quantitiesPlusMinus {
    display: flex;
    align-items: center;
}

.quantitiesPlusMinus img {
    height: 40px;
    cursor: pointer;
    padding: 4px;
}

.numberOfMeal {
    font-size: 20px;
}

.sumPricePerMeal {
    font-size: 20px;
}

.totalCosts {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
}

.costs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

/* ######################################################## */
footer {
    height: 100px;
    background-color: var(--backgroundColorHeaderFooter);
    display: flex;
    align-items: center;
    border-top: solid;
    border-color: var(--borderColorHeaderFooter);
}

.address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    font-weight: bold;
    font-size: 24px;
}
