
h1 {
    font-size: 40px;
    color: rgba(0, 0, 139, 0.800);
    text-shadow: 2px 2px rgba(0, 0, 139, 0.3);
}

h2 {
    font-size: 32px;
}

/* ######################################################## */
header {
    height: 100px;
    background-color: var(--backgroundColorHeaderFooter);
    display: flex;
    align-items: center;
    padding-left: 24px;
    border-bottom: solid;
    border-color: var(--borderColorHeaderFooter);
}

header img {
    height: 80px;
}

/* ######################################################## */
.main {
    /* gesamte breite fläche ohne header footer */
    background-color: white;
}

.content {
    /* Fläche ohne header foooter */
    width: calc(100%-300px);
    min-height: calc(100vh - 200px);
    /*height: 1500px;*/
    display: flex;
}

.test_content {
    /*Fläche ohne Warenkorb-Fläche*/
    width: 100%;
}

/* ######################################################## */
.heroImage {
    background-image: url("./assets/img/mainPicture.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 6px;
    margin-bottom: 12px;
    border-radius: 4px;
}

.heroText {
    background-color: white;
    padding: 12px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100.3%;
    z-index: 10;
    transform: translate(-50%, -50%);
    line-height: 40px;
}

.heroIcon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10;
    background-color: white;
}

/* ######################################################## */
/*.content_wrapper{
    gap: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #879099;
}*/

.foodMenuBar {
    display: flex;
    align-items: center;
    gap: 32px;
}

.foodMenuBar img {
    height: 40px;
}

.fontColor {
    color: darkorange;
    font-weight: bold;
}

/* ######################################################## */
.dishes {
    padding-left: 24px;
    padding-right: 14px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes img {
    height: 40px;
}

.individualDishes {
    border: 1px dotted darkgray;
    padding: 12px 12px 12px 24px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin-bottom: 12px;
}

.individualDishes img {
    height: 36px;
    border: 1px solid darkgray;
}

/* ######################################################## */
.basket_wrapper {
    width: 300px;
    flex-grow: 1;
    padding: 6px;
}

.basket {
    width: 100%;
    height: 400px;
    background-color: khaki;
    position: sticky;
    top: 4px;
    text-align: center;
    border-radius: 4px;
}

/* ######################################################## */
footer {
    height: 100px;
    background-color: var(--backgroundColorHeaderFooter);
    display: flex;
    align-items: center;
    padding-left: 24px;
    border-top: solid;
    border-color: var(--borderColorHeaderFooter);
}
