
@media(max-width: 1250px) {

    .heroIcon {
        display: none;
    }
}

@media(max-width: 1010px) {

    .footer {
        height: 140px;
    }

    .address {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 830px) {

    .header img {
        height: 60px;
    }

    .innerHeader {
        padding-right: 24px;
    }

    .heroImage {
        margin-right: 4px;
    }

    .heroText {
        text-align: center;
        text-wrap: wrap;     
    }

    .foodMenuBar img {
        display: none;
    }

    .foodMenuBar {
        flex-direction: column;
        gap: 0;
    }

    .foodMenuBarShoppingCart {
        display: flex;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shoppingCartWrapper {
        max-width: 360px;
        width: 100%;
    }

    .navMenü {
        justify-content: center;
        padding-right: 0;
    }

    .navLinks {
        flex-direction: column;
    }

    .navLinks a {
        padding: 6px;
        text-align: center;
    }

    .resp_menu_box {
        width: 240px;
        height: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        z-index: 5;
    }
}

@media(max-width: 500px) {

    .shoppingCart {
        width: auto;
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media(max-width: 420px) {

    .resp_menu_box {
        max-width: 420px;
        width: 100%;
    }
}