
.resp_menu_box {
    background-color: #FF8000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 480px;
    height: 96px;
    position: absolute;
    top: -100px;
    right: 0;
    transition: all 250ms ease-in-out;
}

.resp_menu_closed {
    transform: translateY(-100%);
}

.navMenü {
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
}

.navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.navLinks a:hover {
    color: white;
}